.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  padding-bottom: 48px;
  margin-top: 70px;
}

.filter {
  display: flex;
}

.filterBtn:hover {
  background: linear-gradient(290.46deg, #ebd8ff 0%, #b99ec0 107.89%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #5f269c;
}

.filterBtn:global(.active) {
  background-color: #aae7c0;
  font-weight: bold;
}

.filterBtn:global(.active):hover {
  background: linear-gradient(290.46deg, #5cd3a8 0%, #59b0b8 107.89%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #5f269c;
}

.list {
  padding: 55px 38px;
}

.item {
  position: relative;
  padding: 20px 20px 36px;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  margin-bottom: 20px;
}

.item::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  min-height: 10px;
  background-color: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06),
    inset 0px -1.71846px 3.43693px #ae7be3, inset 0px 3.43693px 2.5777px #fbf8ff;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: 50px;
}

.filter {
  position: fixed;
  top: 55px;
  width: fit-content;
  height: fit-content;
  color: #5736a3;
  z-index: 2;
}

.select {
  background-color: transparent;
  width: fit-content;
  border: 2px solid #ae7be3;
  border-radius: 20px;
  color: #471ca9;
  font-size: 14px;
  padding: 5px 8px;
}

.notification {
  text-align: center;
  margin-bottom: 28px;
  color: #c3abdb;
  font-size: 16px;
}

.loadMoreBtn,
.goBackBtn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  width: 200px;
  height: 50px;
  color: #373737;
  background-color: #d2cae6;
  border: none;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.goBackBtn {
  margin-left: 40px;
}

.loadMoreBtn:hover,
.goBackBtn:hover {
  background: linear-gradient(290.46deg, #ebd8ff 0%, #b99ec0 107.89%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #5f269c;
}

@media screen and (min-width: 500px) {
  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    grid-row-gap: 40px;
  }

  .item {
    position: relative;
    padding: 20px 20px 36px;
    background: linear-gradient(
      114.99deg,
      #471ca9 -0.99%,
      #5736a3 54.28%,
      #4b2a99 78.99%
    );
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
    border-radius: 20px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    top: 15px;
    right: 200px;
  }
}

.filterBtn {
  cursor: pointer;
  height: 35px;
  color: #373737;
  background-color: #d2cae6;
  border: none;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 8px;
  color: #5f269c;
}
